# Intro to Python

## Learning Objectives

- Be able to use Jupyter Notebooks
- Understand the basics of Python
- Recognise the differences between Python and R

Python is a general purpose language

R is a statistical computing language 

- Both are open source

Python has a lot of Data Science/Analysis packages

R has some general programming tools as well

In [6]:
# 1. Variable Assignment

my_fav_colour = "purple"

In [8]:
my_fav_colour

'purple'

In [11]:
# Variable Output

print(my_fav_colour)

purple

In [ ]:
# 2. Data Types

- character
- numeric
- logical
- datetime

In [14]:
# strings
type(my_fav_colour)

str

In [15]:
x = 2
y = -83.7
david_needs_tea = True
davids_favourites = ["purple", 27, "R", False]

In [16]:
# int = integer
type(x)

int

In [18]:
# float = floating point
type(y)

float

In [20]:
# bool = boolean
type(david_needs_tea)

bool

In [21]:
# list
type(davids_favourites)

list

In [22]:
# Python starts counting at 0 !!!
type(davids_favourites[1])

int

## A key distinction

In [ ]:
# not run
my_fav_number = 27

my_fav_number == c(27)
# output TRUE

In [25]:
single_item_list = [5]

In [26]:
 5 = single_item_list

SyntaxError: cannot assign to literal (<ipython-input-26-5242c24792cd>, line 1)

In [28]:
my_list = list((2,3,4,5))

my_list

[2, 3, 4, 5]

Python starts indicies at 0 !!!

In [29]:
my_list[1]

3

### Python bool values are Title Case not Upper Case

# Lists

## 1. Creating with range()
## 2. List Indexing

In [30]:
range(5, 10)

range(5, 10)

In [32]:
type(range(5, 10))

range

In [33]:
list(range(5, 10))

[5, 6, 7, 8, 9]

### Range is not inclusive of the final number

In [36]:
two_times_tible = list(range(0, 22, 2))

# Last no. in list is the increments

two_times_tible

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [39]:
# help(range) to get help!!!`

In [41]:
two_times_tible[0]

# First item is the 0 position

0

In [46]:
two_times_tible[-1]

# Last item in the list

20

## 2.1 List Slicing

In [49]:
# Doesn't include the top of slice

two_times_tible[0:2]

[0, 2]

In [50]:
# Implicit slicing - final 3
two_times_tible[:3]

[0, 2, 4]

In [51]:
# Implicit slicing - final 3
two_times_tible[-3:]

[16, 18, 20]

Task - 5 minutes

Create a list with the following data, and assign it to a variable named things:
'Apple' 'Grape' 101 'Onion' False

Make sure that you don't use quotes around 101 and False.

Extract the first element of the list.

Extract the last element of the list.

Extract everything except the last element of the list.

What is the type of:

the 3rd element?
the 4th element?
the 5th element?
Create a list with the following data, using the range() function.
11, 12, 13, 14, 15

In [53]:
things = ["Apple", "Grape", 101, "Onion", False]

# Extract the first element

things[0]

'Apple'

In [54]:
# Extract the last element

things[-1]

False

In [62]:
# Extract everything except the last element

things[0:-1]

['Apple', 'Grape', 101, 'Onion']

In [63]:
# Type

type(things[4])

bool

In [66]:
# Create a list with the function range of 11,12,13,14,15

new_list = list(range(11,16, 0.5))

new_list

# No likey

TypeError: 'float' object cannot be interpreted as an integer

# Methods - List Methods

In [71]:
# not run
some_functions(arg1=..., arg2=...)

NameError: name 'some_functions' is not defined

In [72]:
sum([1,2,3])

6

## Almost everything in Python is an object


(python is an object-oriented programming language) (OOP)

- functions are often used in a way we are less used to in R
- methods are functions that "live" on classes/object

In [83]:
numbers = [19, 67, 12, 9]

In [79]:
numbers.sort()

# Function that is attached to this method

numbers

[9, 12, 19, 67]

In [77]:
my_list[-1].sort[]

SyntaxError: invalid syntax (<ipython-input-77-640b25778509>, line 1)

In [78]:
numbers

[9, 12, 19, 67]

In python objects have 

- attributes (values associated with object class)
- methods (functions that can be applied to object/associated with object class)

In [84]:
numbers.

SyntaxError: invalid syntax (<ipython-input-84-8e378a2dbf5e>, line 1)

More list methods

- '.pop()'
- '.remove()'
- '.append()'
- '.extend()'

All these operate **in-place**

In [85]:
numbers.pop()

9

In [105]:
numbers.append(68)

In [106]:
numbers

[19,
 67,
 12,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68]

In [107]:
numbers.remove(12)

In [108]:
numbers

[19,
 67,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68]

In [127]:
numbers.remove(68)

In [128]:
numbers

[19, 67, 68]

Append and Extend behave differently when given a list

In [129]:
numbers.append([72, 14, -9])

In [130]:
numbers

[19, 67, 68, [72, 14, -9]]

In [131]:
numbers.pop(-1)

[72, 14, -9]

In [132]:
numbers

[19, 67, 68]

In [133]:
numbers.extend([34, 333, -10])

In [134]:
numbers

[19, 67, 68, 34, 333, -10]

In [2]:
primes = [1,2,3,5,7]
primes

[1, 2, 3, 5, 7]

In [6]:
print(primes)

[2, 3, 5, 7]

In [7]:
primes.extend([11,13,17])

In [8]:
primes

[2, 3, 5, 7, 11, 13, 17]

In [15]:
primes.reverse()

[17, 13, 11, 7, 5, 3, 2]

In [16]:
primes

[17, 13, 11, 7, 5, 3, 2]

# Markdown Text

## Dictionaires - A lot like lists in R

In [18]:
person_info = {
    'name' : 'David',
    'age' : 17
}

person_info

# key values pairs

{'name': 'David', 'age': 17}

In [19]:
person_info2 = {
    'name' : 'James',
    'name' : 'Jamie',
    'age' : 21
}

In [22]:
type(person_info2['name'])

str

In [23]:
person_info2

{'name': 'Jamie', 'age': 21}

Dictonairy Facts:

key names must be unique

any after usage of the key name will overwrite the previous <kbd>k:v</kbd> pair

key names should be strings

In [24]:
person_info2['name']

'Jamie'

squiggly brackets for defining your dictionary

square brackets for indexing your dictionary

In [26]:
person_info.keys()

dict_keys(['name', 'age'])

In [27]:
person_info.items()

dict_items([('name', 'David'), ('age', 17)])

Last useful bit

The equivalent of 'Rs' 'length()', is 'len()'

In [28]:
len(person_info)

2

In [30]:
person_info['favourite_nums'] = [3,4,5,6]

In [31]:
len(person_info)

# We added one list in, but only one new item in the dictionary

3

Updating a dictionary 

First way

In [41]:
student_info = {
    'Agnes' : 68,
    'Bobby' : 45,
    'Charlie' : {
        'age' :33,
        'gender' : 'Female'
    }
}

In [46]:
student_info['David'] = {
    'age' : 28,
    'gender' : 'Male'
}

In [47]:
student_info

{'Agnes': 68,
 'Bobby': 45,
 'Charlie': {'age': 33, 'gender': 'Female'},
 'David': {'age': 28, 'gender': 'Male'}}

In [49]:
student_info.update({'Elaine' : {'age' : '26', 'gender' : 'Bie'}})

In [50]:
student_info

{'Agnes': 68,
 'Bobby': 45,
 'Charlie': {'age': 33, 'gender': 'Female'},
 'David': {'age': 28, 'gender': 'Male'},
 'Elaine': {'age': '26', 'gender': 'Bie'}}

In [51]:
student_info.pop('David')

{'age': 28, 'gender': 'Male'}

In [52]:
student_info

{'Agnes': 68,
 'Bobby': 45,
 'Charlie': {'age': 33, 'gender': 'Female'},
 'Elaine': {'age': '26', 'gender': 'Bie'}}

While the '.pop()' method exists for both 'dict()' and list() types. It behaves differently in each case.