# Simple Pipelines

In [1]:
import pandas as pd
import numpy as np

In [3]:
boston = pd.read_csv("data/boston.csv")
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,4.03,34.7
3,0.03237,0.0,NaN,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,5.33,36.2

In [8]:
boston.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,target
count,486.000000,506.000000,476.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.653050,11.363636,11.139538,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,22.532806
std,8.719588,23.322453,6.881949,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,5.000000
25%,0.082268,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,17.025000
50%,0.260420,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,21.200000
75%,3.689388,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,50.000000

In [9]:
boston.shape

(506, 13)

In [13]:
# Splitting the Test and Train Sets
X = boston.drop('target', axis = 1)
Y = boston.target

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: target, Length: 506, dtype: float64

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.3, random_state=42
)

In [27]:
 X_train.shape, X_test.shape, y_train.shape, y_test.shape

((354, 12), (152, 12), (354,), (152,))

In [28]:
# Imputation in SciKitLearn

import numpy as np

data_with_missing = pd.DataFrame([[7, 2, 3], [4, np.nan, 6], [None, 5, 9]], columns = ["a", "b", "c"])
data_with_missing

     a    b  c
0  7.0  2.0  3
1  4.0  NaN  6
2  NaN  5.0  9

In [29]:
# Simple Imputer!!!

from sklearn.impute import SimpleImputer

imp_median = SimpleImputer(missing_values=np.nan, strategy='median')
imputed_data = imp_median.fit_transform(data_with_missing)

pd.DataFrame(imputed_data)

     0    1    2
0  7.0  2.0  3.0
1  4.0  3.5  6.0
2  5.5  5.0  9.0

In [30]:
X_train.isnull().sum()

CRIM       13
ZN          0
INDUS      22
CHAS        0
NOX         0
RM          0
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
LSTAT       0
dtype: int64

In [33]:
X_train = imp_median.fit_transform(X_train)
X_train = pd.DataFrame(X_train, columns=X.columns)

X_train.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
LSTAT      0
dtype: int64

In [34]:
# Values stored as an array
imp_median.statistics_

array([2.5915e-01, 0.0000e+00, 9.1250e+00, 0.0000e+00, 5.3800e-01,
       6.2275e+00, 7.7350e+01, 3.1073e+00, 5.0000e+00, 3.3000e+02,
       1.8600e+01, 1.0925e+01])

In [35]:
# Median Values for all of the columns
pd.DataFrame(imp_median.statistics_, index=X.columns)

                 0
CRIM       0.25915
ZN         0.00000
INDUS      9.12500
CHAS       0.00000
NOX        0.53800
RM         6.22750
AGE       77.35000
DIS        3.10730
RAD        5.00000
TAX      330.00000
PTRATIO   18.60000
LSTAT     10.92500

### Scaling the Data

In [38]:
# Scale the data Bieeeee!
X_train.mean()

# Our standard deviation and means are all over the place like mini-bears about the forest

CRIM         3.388759
ZN          11.403955
INDUS       11.015537
CHAS         0.073446
NOX          0.557259
RM           6.325672
AGE         68.799718
DIS          3.765874
RAD          9.437853
TAX        407.042373
PTRATIO     18.277966
LSTAT       12.421130
dtype: float64

 ### Pipelines

In [41]:
# Creating our pipeline here now lad

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

pipe = Pipeline(steps = [
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('scaler', StandardScaler())])

In [44]:
X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.3, random_state=42
)

In [45]:
piped_X_train = pipe.fit_transform(X_train)
piped_X_train

array([[-0.40607919, -0.50512499, -1.31189334, ..., -1.11279004,
         0.18727079, -1.01531611],
       [-0.39378043, -0.50512499, -0.14930128, ...,  0.15008778,
        -0.21208981, -0.05366252],
       [-0.38896392, -0.50512499, -0.60958677, ..., -1.0466393 ,
        -0.16771641, -0.31132373],
       ...,
       [-0.37835771,  3.03838247, -1.3371348 , ..., -0.76399522,
        -0.56707702, -0.90549329],
       [-0.37835771, -0.50512499, -0.28070536, ...,  1.5572945 ,
         0.8528718 ,  1.52750437],
       [-0.38203174, -0.50512499, -0.3645961 , ..., -0.13857001,
         1.16348561, -0.25218837]])

In [ ]:
pip.transform(X_test)

In [ ]:
# Call the fit_transform on the training set but only call the transform on the test_set

In [53]:
from sklearn.linear_model import LinearRegression

pipe_lin_reg = Pipeline(steps = [
    ('imputer', SimpleImputer(missing_values=np.nan, strategy='median')),
    ('scaler', StandardScaler()),
    ('regressor', LinearRegression())
])

pipe_lin_reg.fit(X_train, y_train)

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('scaler', StandardScaler()),
                ('regressor', LinearRegression())])

In [57]:
y_train_predict = pipe_lin_reg.predict(X_train)
y_test_predict = pipe_lin_reg.predict(X_test)


from sklearn.metrics import mean_absolute_error 
print('MAE train', mean_absolute_error(y_train, y_train_predict))
print('MAE train', mean_absolute_error(y_test, y_test_predict))

#

MAE train 3.462783334961903
MAE train 3.185981873050692